# Ignore everything.
**

# But include these files...
!.gitignore
!LICENSE
!README.md

# ... and these files under the 'tf' directory...
!tf/
tf/*
!tf/.gitkeep
# ... and this directory...
!tf/ibm-cos/
tf/ibm-cos/*
!tf/ibm-cos/data.tf
!tf/ibm-cos/providers.tf
!tf/ibm-cos/resource-group.tf
!tf/ibm-cos/variables_no_push.tf.template
#
!tf/ibm-cos/create-bucket/
tf/ibm-cos/create-bucket/*
!tf/ibm-cos/create-bucket/data.tf
!tf/ibm-cos/create-bucket/main.tf
!tf/ibm-cos/create-bucket/resource-group.tf
!tf/ibm-cos/create-bucket/variables_no_push.tf.template
!tf/ibm-cos/create-bucket/versions.tf
#
!tf/ibm-cos/create-instance/
tf/ibm-cos/create-instance/*
!tf/ibm-cos/create-instance/data.tf
!tf/ibm-cos/create-instance/main.tf
!tf/ibm-cos/create-instance/resource-group.tf
!tf/ibm-cos/create-instance/variables_no_push.tf.template
!tf/ibm-cos/create-instance/versions.tf
#
!tf/ibm-cos/modules/
tf/ibm-cos/modules/*
!tf/ibm-cos/modules/.gitkeep
#
!tf/ibm-cos/modules/bucket/
tf/ibm-cos/modules/bucket/*
!tf/ibm-cos/modules/bucket/main.tf
!tf/ibm-cos/modules/bucket/variables_no_push.tf.template
!tf/ibm-cos/modules/bucket/versions.tf
#
!tf/ibm-cos/modules/instance/
tf/ibm-cos/modules/instance/*
!tf/ibm-cos/modules/instance/main.tf
!tf/ibm-cos/modules/instance/variables_no_push.tf.template
!tf/ibm-cos/modules/instance/versions.tf
